.speaker {
  padding-bottom: 70px;

  &-wrapper {
    display: flex;
    margin-bottom: 30px;
  }

  &-video {
    width: 727px;
    margin-right: 90px;
  }

  &-img {
    border-radius: 10px;
  }

  &-info {
    width: 350px;
    background-color: $color-default-white;
    box-shadow: 0 30px 100px rgba(47, 55, 237, 0.1);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
  }

  &-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: $color-default-blue;
  }

  &-skills-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 70px 30px;
  }

  &-skills-item {
    width: 240px;
  }

  &-skill {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-default-blue;
  }
}
